body{
    background: #efefef;
    color: #222;
    margin: 0px;
    font-family: Calibri;
    text-align: center;
    font-size: 16px;
}
#calculadora{
    background:#fff;
    display: inline-block;
    margin-top: 22%;
    padding: 40px;
    box-shadow: 0px 0px 5px #444;
}
#calculadora a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 8px;
    border-radius: 3px;
    background: #0099FF;
    transition: color 0.2s, background 0.2s;
}
#calculadora a:hover{
    color: #555;
    background: #00CCFF;
}
#calculadora h3{
    font-size: 40px;
    font-weight: bold;
}
input[type="text"]{
    border: 1px solid #444;
    height: 30px;
    padding: 3px 10px;
}
input[type="submit"]{
    min-height: 20px;
    padding: 8px;
}